{{ styles }}

\begin{document}

\begin{center}
  {\LARGE\bfseries PetVault Care Report}\\[5pt]
  {\Large\bfseries {{ title }}}\\[5pt]
  {\large {{ pet_name }}}
\end{center}

\vspace{0.55em}
\tableofcontents
\newpage

{{ body }}

\end{document}
