{{ styles }}

\begin{document}
\begin{center}
  {\LARGE\bfseries PetVault Clinic Client Summary Draft}\\[5pt]
  {\large {{ pet_name }}}
\end{center}
\tableofcontents
\newpage
{{ body }}
\end{document}
